<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

    <style>
        body{
            background-color: #eee;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Student Background Management System</h1>
        </div>
        <!--
        <div class="col-md-2 col-lg-offset-5">
            <p style="font-size: 17px">username:
                <sapn>xxx</sapn>
            </p>
            <p>
                <button class="btn-danger">logout</button>
            </p>
        </div>
        -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="list-group">
                            <a href="/studentLogin/" class="list-group-item"><i class="fa fa-qq"></i>&nbsp;Student account</a>
                            <a href="/teacherLogin/" class="list-group-item"><i class="fa fa-qq"></i>&nbsp;Teacher account</a>
                            <a href="/adminLogin/" class="list-group-item"><i class="fa fa-qq"></i>&nbsp;Administrator account</a>
                            <a href="/schoolIntroduction/" class="list-group-item"><i class="fa fa-qq"></i>&nbsp;About school</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h2>School introduction</h2>
                            </div>
                            <div class="panel-body">
                                <h3>
                                    &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;University is the earliest one of American Private University, is to train graduate students and research oriented comprehensive university, Harvard University, officially registered name: The President and Fellows of Harvard College, total address is Byerly Hall, 8 Garden Street, Cambridge. Harvard University is the first university ( second College of William and Mary, third Yale University ). The United States since the war of independence many revolutionary pioneer from Harvard under the door. Harvard University, known as the United States government thought library. Here has the birth of the eight president of the United States, 40 Nobel Prize winners and 30 winner of the Pulitzer prize. The business school case study more famous. Here also cultivate created Microsoft, IBM, Facebook, a commercial miracle.
                                </h3>
                                <h4>
                                    中文翻译:哈佛大学是美国最早的私立大学之一，是以培养研究生和从事科学研究为主的综合性大学，哈佛大学的正式注册名称为：The President and Fellows of Harvard College，总地址是Byerly Hall, 8 Garden Street, Cambridge。哈佛大学是全美第一所大学（第二所是威廉玛丽学院，第三所是耶鲁大学）。美国独立战争以来大量的革命先驱都出自于哈佛的门下。哈佛大学被誉为美国政府的思想库。这里先后诞生了八位美国总统，40位诺贝尔奖得主和30位普利策奖得主。其商学院案例教学盛名远播。这里也培养了缔造了微软、IBM、Facebook等一个个商业奇迹的人。
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script src="/static/jquery-3.3.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>